<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--see https://github.com/alibaba/druid/wiki/%E9%85%8D%E7%BD%AE_DruidDataSource%E5%8F%82%E8%80%83%E9%85%8D%E7%BD%AE-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close"
          p:url="${mysql.url}"
          p:username="${mysql.username}"
          p:password="${mysql.password}"
          p:filters="wall,stat"/>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:configLocation="mybatis/mybatis-config.xml"
          p:dataSource-ref="dataSource"
          p:typeAliasesPackage="com.github.autoconf.entity"/>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"
          c:sqlSessionFactory-ref="sqlSessionFactory"/>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:annotationClass="org.springframework.stereotype.Repository"
          p:sqlSessionFactory-ref="sqlSessionFactory"
          p:basePackage="com.github.autoconf.mapper"/>
</beans>
